<!doctype html>
<html lang="en">

<head>
  <link rel="apple-touch-icon" sizes="180x180" href="static/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/assets/favicon-16x16.png">
  <link rel="manifest" href="static/assets/site.webmanifest">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Abdelhedi Jouini</title>

  <link rel="stylesheet" href="./static/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/css/unicons.css">
  <link rel="stylesheet" href="./static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="./static/css/owl.theme.default.min.css">

  <!-- MAIN STYLE -->
  <link rel="stylesheet" href="./static/css/tooplate-style.css">

  <!--

Tooplate 2115 Marvel

https://www.tooplate.com/view/2115-marvel

-->


</head>

<body>

  <!-- MENU -->
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
      <a class="navbar-brand" href="index.html"><i class='uil uil-user'></i> Abdelhedi Jouini</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a href="#about" class="nav-link"><span data-hover="About">About</span></a>
          </li>
          <li class="nav-item">
            <a href="#project" class="nav-link"><span data-hover="Projects">Projects</span></a>
          </li>
          <li class="nav-item">
            <a href="#resume" class="nav-link"><span data-hover="Resume">Resume</span></a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link"><span data-hover="Contact">Contact</span></a>
          </li>
        </ul>

        <ul class="navbar-nav ml-lg-auto">
          <div class="ml-lg-4">
            <div class="color-mode d-lg-flex justify-content-center align-items-center">
              <i class="color-mode-icon"></i>
              Color mode
            </div>
          </div>
        </ul>
      </div>
    </div>
  </nav>

  <!-- ABOUT -->
  <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
    <div class="container">
      <div class="row">

        <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
          <div class="about-text">
            <small class="small-text">Welcome to <span class="mobile-block">my portfolio website!</span></small>
            <h1 class="animated animated-text">
              <span class="mr-2">Hey folks, I'm</span>
              <div class="animated-info">
                <span class="animated-item">Abdelhedi Jouini</span>
                <span class="animated-item">Python Developer</span>
                <span class="animated-item">Back End Specialist</span>
              </div>
            </h1>

            <p><br>Motivated professional offering Bachelor's in Computing and Information Technology. Adds value to any
              organization in need of great collaboration, interpersonal and multitasking abilities. Meets tight
              deadlines.</p>

            <div class="custom-btn-group mt-4">
              <a href="./static/abdelhedi_jouini_resume.pdf" class="btn mr-lg-2 custom-btn"
                download="abdelhedi_jouini_resume">
                <i class='uil uil-file-alt'></i> Download Resume</a>

              <a href="https://www.linkedin.com/in/abdelhedi-jouini"
                class="btn custom-btn custom-btn-bg custom-btn-link" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin"></i> LinkedIn
              </a>
              <a href="https://github.com/Jouini00" class="btn custom-btn custom-btn-bg custom-btn-link" target="_blank"
                rel="noopener noreferrer">
                <i class="fab fa-github"></i> Github
              </a>

            </div>
          </div>
        </div>

        <div class="col-lg-5 col-md-12 col-12">
          <div class="about-image svg">
            <img src="./static/images/undraw/undraw_Designer_by46.svg" class="img-fluid" alt="svg image">
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- PROJECTS -->
  <section class="project py-5" id="project">
    <div class="container">

      <div class="row">
        <div class="col-lg-11 text-center mx-auto col-12">

          <div class="col-lg-8 mx-auto">
            <h2>Things I have designed for digital media agencies</h2>
          </div>

          <div class="owl-carousel owl-theme">
            <div class="item">
              <div class="project-info">
                <img src="./static/images/project/project-image01.png" class="img-fluid" alt="project image">
              </div>
            </div>

            <div class="item">
              <div class="project-info">
                <img src="./static/images/project/project-image02.png" class="img-fluid" alt="project image">
              </div>
            </div>

            <div class="item">
              <div class="project-info">
                <img src="./static/images/project/project-image03.png" class="img-fluid" alt="project image">
              </div>
            </div>

            <div class="item">
              <div class="project-info">
                <img src="./static/images/project/project-image04.png" class="img-fluid" alt="project image">
              </div>
            </div>

            <div class="item">
              <div class="project-info">
                <img src="./static/images/project/project-image05.png" class="img-fluid" alt="project image">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- FEATURES -->
  <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-12">
          <h2 class="mb-4">Experiences</h2>

          <div class="timeline">
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2019</span>
              </div>
              <div class="timeline-info">
                <h3><span>Rideshare Driver</span><small>Uber</small></h3>
                <p>-Rating of 4.95 out of 5<br>
                  -Over 60 driving hours per week<br>
                  -Over 100 surveys of client satisfaction<br>
                  -Improved overall safety performance by taking a data-driven approach to issue identification and
                  root
                  cause analysis
                </p>
              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2017</span>
              </div>
              <div class="timeline-info">
                <h3><span>Ecommerce Manager</span><small>Planet Cellular</small></h3>
                <p>-Help grow new company sales from 0 to over 13M in the first year<br>
                  -Experience with Amazon Vendor, eBay, Jet.com and other online marketplaces<br>
                  -Experience with Amazon Marketing Services (PPC )<br>
                  -Coordinated affiliate, referral and social media programs to spur growth and attract new users to our
                  brand
                </p>
              </div>
            </div>





          </div>
        </div>

        <div class="col-lg-6 col-12">
          <h2 class="mb-4 mobile-mt-2">Educations</h2>

          <div class="timeline">
            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2022</span>
              </div>
              <div class="timeline-info">
                <h3><span>Back End, SQL, and DevOps Developer with Python</span><small>Nucamp Bootcamp</small></h3>

              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2021</span>
              </div>
              <div class="timeline-info">
                <h3><span>Bachelor’s: Computing and Information Technology</span><small>University of Derby</small></h3>

              </div>
            </div>

            <div class="timeline-wrapper">
              <div class="timeline-yr">
                <span>2016</span>
              </div>
              <div class="timeline-info">
                <h3><span>Associate: Computer Software Technician<br> </span><small>Glendale Community College </small>
                </h3>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
  <!--Certifications-->
  <div class="col-12 text-center">
    <h2 class="mb-4 mobile-mt-2">Certifications</h2>
    <div class="row">
      <div class="col-lg-6 col-12">
        <h3 class="custom-heading">Python for Data Science</h3>
        <p><small>Dataquest</small><br>

        </p>
      </div>
      <div class="col-lg-6 col-12">
        <h3 class="custom-heading">Complete Python Developer in 2022</h3>
        <p><small>Zero To Mastery</small><br>

        </p>
      </div>

    </div>

  </div>

  </div>
  </div>
  <br>
  <br>

  </section>


  <!-- CONTACT -->
  <section class="contact py-5" id="contact">
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 mr-lg-5 col-12">
          <img src="./static/images/undraw/mail_icon.svg" width="90%" />
        </div>

        <div class="col-lg-6 col-12">
          <div class="contact-form">
            <h2 class="mb-4">Interested to work together? Let's talk</h2>

            <form action="/" method="POST">
              <div class="row">
                <div class="col-lg-6 col-12">
                  <input name="name" type="text" class="form-control" name="name" placeholder="Your Name" id="name"
                    required>
                </div>

                <div class="col-lg-6 col-12">
                  <input name="email" type="email" class="form-control" name="email" placeholder="Email" id="email"
                    required>
                </div>

                <div class="col-12">
                  <textarea name="message" name="message" rows="6" class="form-control" id="message"
                    placeholder="Message" required></textarea>
                </div>

                <div class="ml-lg-auto col-lg-5 col-12">
                  <input type="submit" class="form-control submit-btn" value="Send Button" id="contact">
                  {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                  {% for category, message in messages %}
                  <div class="alert alert-{{category}} d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                      <use xlink:href="#check-circle-fill" />
                    </svg>
                    <div>
                      {{ message|capitalize }}
                    </div>
                  </div>

                  {% endfor %}
                  {% endif %}
                  {% endwith %}


                </div>
              </div>
            </form>
          </div>
        </div>


      </div>
    </div>




  </section>

  <!-- FOOTER -->
  <footer class="footer py-5">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-12">
          <p class="copyright-text text-center">Copyright &copy; 2022 Abdelhedi Jouini . All rights reserved</p>
        </div>

      </div>
    </div>
  </footer>

  <script src="./static/js/jquery-3.3.1.min.js"></script>
  <script src="./static/js/popper.min.js"></script>
  <script src="./static/js/bootstrap.min.js"></script>
  <script src="./static/js/Headroom.js"></script>
  <script src="./static/js/jQuery.headroom.js"></script>
  <script src="./static/js/owl.carousel.min.js"></script>
  <script src="./static/js/smoothscroll.js"></script>
  <script src="./static/js/custom.js"></script>



</body>

</html>